<br>
<br>
<div class="text-center py-3">
    <h1>TOP 10 COVID-19 CASES</h1>
</div>
<div *ngIf="validTable">
  <p *ngIf="!details"><em>Loading...</em></p>
  <div style="display: inline-block;width: 100%;" *ngIf="details">
      <mat-form-field appearance="fill" *ngIf="details" >
          <mat-label>Regions</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="region">
            <mat-option *ngFor="let region of details" [value]="region">
              {{region.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <button mat-raised-button color="primary"  (click)="getByProvince(selectedValue)"  >Reporte</button>
      <!-- <div style="width: 50%;float: right;"> -->
      
        <button mat-raised-button color="primary"  (click)="exportToExcel(details)"  style="float: right;">Excel</button>
        <button mat-raised-button color="primary" (click)="exportToJson(details)" style="float: right;">Json</button>
        <mat-label  style="float: right;">Export Options</mat-label>
      <!-- </div>  -->
      
  </div>
  
  
  <div class="example-container mat-elevation-z8" *ngIf="details">
      <table mat-table [dataSource]="details" class="mat-elevation-z8" >
         <!-- Position Column -->
         <ng-container matColumnDef="name">
           <th mat-header-cell *matHeaderCellDef> Region </th>
           <td mat-cell *matCellDef="let element"> {{element.name}} </td>
         </ng-container>
       
         <!-- Name Column -->
         <ng-container matColumnDef="confirmed">
           <th mat-header-cell *matHeaderCellDef> Cases </th>
           <td mat-cell *matCellDef="let element"> {{element.confirmed}} </td>
         </ng-container>
       
         <!-- description Column -->
         <ng-container matColumnDef="deaths">
            <th mat-header-cell *matHeaderCellDef> Deaths </th>
            <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
          </ng-container>
       
    
      
         <!-- <ng-container matColumnDef="action">
            <tr><th mat-header-cell *matHeaderCellDef> Action </th></tr>
            <tr>
              <td mat-cell *matCellDef="let row" style="width:20%">
                <button mat-icon-button color="primary"  title="Edit Contact"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button color="primary"  title="Delete Contact"><mat-icon>delete</mat-icon></button> 
              </td>
            <tr>
          </ng-container> -->
       
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>
    </div>
</div>

<div *ngIf="!validTable">
  <p *ngIf="detailsByProvince"><em>Loading...</em></p>
  <div style="display: inline-block;width: 100%;" *ngIf="detailsByProvince">
      <mat-form-field appearance="fill" *ngIf="detailsByProvince" >
          <mat-label>Regions</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="region">
            <mat-option *ngFor="let region of details" [value]="region">
              {{region.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <button mat-raised-button color="primary"  (click)="getByProvince(selectedValue)"  >Reporte</button>
      <!-- <div style="width: 50%;float: right;"> -->
      
        <button mat-raised-button color="primary"  (click)="exportToExcel(detailsByProvince)"  style="float: right;">Excel</button>
        <button mat-raised-button color="primary" (click)="exportToJson(detailsByProvince)" style="float: right;">Json</button>
        <mat-label  style="float: right;">Export Options</mat-label>
      <!-- </div>  -->
      
  </div>
  
  
  <div class="example-container mat-elevation-z8" *ngIf="detailsByProvince">
      <table mat-table [dataSource]="detailsByProvince" class="mat-elevation-z8" >
         <!-- Position Column -->
         <ng-container matColumnDef="name">
           <th mat-header-cell *matHeaderCellDef> Region </th>
           <td mat-cell *matCellDef="let element"> {{element.name}} </td>
         </ng-container>
       
         <!-- Name Column -->
         <ng-container matColumnDef="confirmed">
           <th mat-header-cell *matHeaderCellDef> Cases </th>
           <td mat-cell *matCellDef="let element"> {{element.confirmed}} </td>
         </ng-container>
       
         <!-- description Column -->
         <ng-container matColumnDef="deaths">
            <th mat-header-cell *matHeaderCellDef> Deaths </th>
            <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
          </ng-container>
       
    
      
         <!-- <ng-container matColumnDef="action">
            <tr><th mat-header-cell *matHeaderCellDef> Action </th></tr>
            <tr>
              <td mat-cell *matCellDef="let row" style="width:20%">
                <button mat-icon-button color="primary"  title="Edit Contact"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button color="primary"  title="Delete Contact"><mat-icon>delete</mat-icon></button> 
              </td>
            <tr>
          </ng-container> -->
       
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>
    </div>
</div>